body {
  
    line-height: 32px;
   
}

* {
    box-sizing: border-box;

}


header {

    background: #ffffff;
    float: left;
    width: 100%;

}

#name {
    color: white;
    background: #4aaaa5;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    margin-left: 270px;
    

}

#about {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(112, 112, 112);
    margin-right: 10px;

}

#portfolio {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(112, 112, 112);
    margin-right: 10px;
}

#contact {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(112, 112, 112);
    margin-right: 10px;
}

#profile-image {
    float: left;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.content {
    width: 960px;
    background: #ffffff;
    display: block;
    padding: 20px;
    margin: auto;
 

}

section {
    margin-right: 32px;
    margin-left: 32px;
   
}


#aboutme {
    color: #4aaaa5;

}

p {
    font-family: Arial, Helvetica, sans-serif;

}

.headercontent {
    width: 960px;
    margin: auto;
}

footer { 
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}